*.a
*.app
*.dll
*.dylib
*.egg
*.egg-info
*.exe
*.lib
*.mo
*.o
*.out
*.py[cod]
*.so
*.so
*.so.*
*.un~
.*.sw[a-z]
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.coverage
.installed.cfg
.mr.developer.cfg
.netrwhist
.project
.pydevproject
.tox
Icon
Session.vim
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
